@import "/app/common.module.scss";

.skillcardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  @include flexCenter();
}

.card {
  width: 100%;
  height: 100%;
}
.innerCard {
  width: 100%;
  height: 100%;
  @include flexCenter();
  .text {
    width: 100%;
    text-align: center;
    color: $white2;
  }
}

/* Sizing for iPhone */
@media screen and (max-width: 800px) {
  .skillcardContainer {
    width: 100%;
    .card {
      .text {
        h5 {
          font-size: 8vw;
        }
      }
    }
  }
}
