@import "/app/common.module.scss";

.filterToggleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75vw;

  .buttonWrapper {
    position: relative;
  }

  button {
    position: relative;
    padding: 2vh 1.5vw;
    @include boxBg($roundOuter, transparent, $shadowLight);
    border: 2px solid $Gray5;
    @include flexCenter();
    cursor: pointer;

    .circle {
      width: 2vw;
      height: 2vw;
      border-radius: 30px;
      margin-right: 1vw;
      transition: background-color 0.3s ease; /* Transition for circle color */
    }

    &.selected {
      border: none;

      h5 {
        color: #26221b;
      }

      .circle {
        border-color: #26221b;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .filterToggleContainer {
    gap: 1.5vw;
    button {
      .circle {
        margin-top: -1%;
        margin-right: -2.5%;
        margin-left: 2.5%;
      }
      h6 {
        font-size: 4.25vw;
      }
    }
  }
}
