.skillcardContainer {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  background-position: center;
  background-size: cover;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*Sizing for Iphone*/
@media screen and (max-width: 800px) {
  .skillcardContainer {
    width: 98%;
  }
}
