@import "/app/common.module.scss";

.skillcardContainer {
  width: 95%;
  height: 100%;
  display: flex;
  @include boxBg($roundOuter);
}

.card {
  @include flexCenter();
  position: relative;
  width: 100%;
  height: 100%;

  .text {
    width: 90%;
    text-align: center;
    color: $textPrimary;
  }
}

/* Sizing for iPhone */
@media screen and (max-width: 800px) {
  .skillcardContainer {
    width: 98%;
    .card {
      .text {
        h5 {
          font-size: 8vw;
        }
      }
    }
  }
}
