@import "/app/common.module.scss";

.filterToggleContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75vw;

  .buttonWrapper {
    position: relative;
  }

  button {
    position: relative;
    padding: 2vh 1.5vw;
    @include boxBg($roundOuter, transparent, $shadowLight);
    border: 2px solid $white2;
    @include flexCenter();
    cursor: pointer;

    .circle {
      width: 2vw;
      height: 2vw;
      border-radius: 30px;
      margin-right: 0.75vw;
      transition: background-color 0.3s ease; /* Transition for circle color */
    }
    h5 {
      @extend .label;
    }

    &.selected {
      border: none;

      h5 {
        color: #26221b;
        @extend .label;
      }

      .circle {
        border-color: #26221b;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .filterToggleContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1vw;
    button {
      @include boxBg($roundMiddle, transparent, $shadowLight);
      padding: 2vh 2vw;
    }
  }
}
