@import "/app/common.module.scss";

.toggleContainer {
  @include flexCenter(flex-start);
  width: 90vw;
  padding-left: 1%;
  padding-top: 1%;
  margin: 2vw 0;
}

.sliderContainer {
  @include flexColumn(center, center);
  height: auto;
  width: 100vw;
}

.sliderTrack {
  width: 100vw;
  padding: 0%;
}

.splide__slide {
  height: 85%;
  padding-top: 10%;
}

/* Sizing for Iphone */
@media screen and (max-width: 800px) {
  .toggleContainer {
    width: 97vw;
    display: flex;
    justify-content: center;
  }
}
