@import "/app/common.module.scss";

/*Left Section*/
.imageContainer {
  height: 70%;
  width: 100%;
  background: url("../../../public/project/waves.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 100px 0 0 0;
  box-shadow: $shadowHeavy;

  .image {
    position: absolute;
    width: 90%;
    height: 60%;
    background: none;
    top: 0;
  }
}

.titleContainer {
  height: 30%;
  width: 95%;
  background: #134074;
  border-radius: 0 0 0 50px;
  @include flexColumn(center, center);
  padding: 0 2.5%;
  box-shadow: $shadowHeavy;
  .dash {
    @extend .heading;
    color: $white;
    font-size: 5.5vw;
    margin-left: 5%;
  }

  .taskTracking {
    @extend .subHeading;
    font-size: 2vw;
    margin-top: -2vh;
    margin-left: 2.5vw;
  }
}

.mainContent {
  width: 100%;
  height: 100%;
  background: #00a9a5;
  border-radius: 0 50px 50px 0;
  display: flex;
  box-shadow: $shadowHeavy;
}

.mainContentLeft {
  width: 70%;
  @include flexCenter();
  padding: 2%;

  .info {
    width: 60%;
    height: 100%;
    .descriptionContainer {
      height: 75%;
      border-radius: 0 30px 0 30px;
      @include flexCenter();
      border: 2px solid #f0f0f0;

      .description {
        @extend .description;
        font-size: 1.25vw;
        padding: 2%;
      }
    }

    .tagContainer {
      height: 25%;
      margin-top: 2.5%;
      display: flex;
      flex-wrap: wrap;

      .tag {
        width: 32%;
        margin: 1.5% 0.5%;

        display: flex;
        justify-content: center;
        align-items: center;
        background: #8cdc9e;
        box-shadow: $shadowLight;
        border-radius: 20px;
        h3 {
          @extend .seperated;
          font-size: 0.9vw;
          letter-spacing: 2px;
        }
      }
    }
  }
}
.images {
  width: 40%;
  height: 100%;
  @include flexColumn(center, center);
  justify-content: space-between;
  .imageBox {
    height: 30%;
    width: 80%;
    border-radius: 30px;
    box-shadow: $shadowHeavy;
    background: #f2e582;
  }
}

.mainContentRight {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    width: 90%;
    height: 80%;
    background: #f2e582;
    border-radius: 0 50px 0px 0;
    @include flexCenter();
    padding: 0% 5%;
    .symbolContainer {
      @extend .flexColumnCenter;
      gap: 5vw;
      width: 50%;
      height: 90%;
      border: 3px solid #ffffff;
      border-radius: 20px;
    }

    .project001 {
      height: 100%;
      width: 30%;
      @include flexCenter();

      h2 {
        transform: rotate(90deg);
        @extend .title;
        font-size: 6vh;
        text-wrap: nowrap;
        letter-spacing: 4px;
        color: $white;
      }
    }
  }

  .bottom {
    width: 100%;
    height: 20%;
    background: #134074;
    border-radius: 0 0 50px 0;
  }
}
