@import "/app/common.module.scss";
.frame {
  display: flex;
  width: 80vw;
  height: 65vh;

  margin: 2.5vw 0;
  gap: 2vw;
}

.leftSection {
  width: 32.5%;
  @extend .flexColumnCenter;
  border: 1px dotted red;
  background: #15706c;
  border-radius: 50px;

  height: 100%;

  .circleContainer {
    width: 15vw;
    height: 25vh;
    background: $background;
    border-radius: 50%;
    margin: 2.5vh 0;
    @extend .flexCenter;

    .circle {
      width: 90%;
      height: 90%;
      background: url("../../../public/project/jungle.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      background-color: #e8f89f;
    }
  }
  .infoContainer {
    margin-top: -0.5vh;
    height: 20vh;
    width: 100%;
  }
  .bottom {
    width: 100%;
    height: 15vh;
    background: #90c693;
    border-radius: 0px 0px 30px 30px;
    bottom: 0;
    @extend .flexCenter;
  }
}

.rightSection {
  width: 68.5%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.topSection {
  display: flex;
  height: 50%;
  gap: 1vw;
}

.bottomSection {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}

.kevFm {
  @extend .title;
  color: $textPrimary;
  font-size: 3.75vw;
}

/*Right*/

.descriptionContainer {
  width: 45%;
  height: auto;
  @extend .flexColumn;
  padding: 2.5%;
  background: #90c693;
  border-radius: 50px;
  .about {
    @extend .subHeading;
    font-size: 2vw;
  }

  .description {
    @extend .description;
    margin-top: 0.5vw;
    font-size: 1.1vw;
  }
}

.imageCenterContainer {
  width: 50%;
  @extend .flexCenter;
  background: #082c2c;
  border-radius: 50px;
}

.projectContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #15706c;
  border-radius: 30px;
}

.corner {
  width: 30%;
  height: 100%;
  background: #e8f89f;
  border-radius: 30px 180px 0px 30px;
  box-shadow: $boxShadow;
}
