@import "/app/common.module.scss";
.frame {
  display: flex;
  width: 85vw;
  height: 65vh;
  gap: 2vw;
  margin: 2.5vw;
}

.leftSection {
  width: 25vw;
  @extend .flexColumnCenter;
  height: 100%;
}

.rightSection {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.topSection {
  display: flex;
  gap: 1vw;
  height: 30vh;
  width: 100%;

  .left {
    width: 65%;
    height: 100%;
    @extend .flexCenter;
  }

  .right {
    width: 20vw;
    @extend .flexCenter;
  }
}

.bottomSection {
  height: 35vh;
  width: 55vw;
  display: flex;
  gap: 1vw;

  .one {
    width: 20%;
    height: 100%;
    border-radius: 20px;
  }

  .two,
  .three {
    width: 40%;
    height: 100%;
  }
}
