@import "/app/common.module.scss";

@mixin fullHeight($width) {
  width: $width;
  height: 100%;
}

.frame {
  display: flex;
  width: 80vw;
  height: 65vh;
  margin: 2vh 2vw;
}

.leftSection {
  @include fullHeight(27.5vw);
}

.rightSection {
  width: 60vw;
  height: 31.5vh;
  gap: 2vh 1vw;
  @include flexCenter(center);
  flex-wrap: wrap;

  .topLeft,
  .topRight,
  .bottomLeft,
  .bottomMiddle,
  .bottomRight {
    @include fullHeight(100%);
  }

  .topLeft {
    width: 32vw;
    @include flexCenter();
  }

  .topRight {
    width: 18vw;
    @include flexCenter();
  }

  .bottomLeft {
    width: 9vw;
  }

  .bottomMiddle,
  .bottomRight {
    width: 20vw;
  }
}

@media screen and (max-width: 600px) {
  .rightSection {
    display: none;
  }

  .frame {
    height: 50vh;
    margin: 2vh 0;
  }

  .leftSection {
    width: 65vw;
  }
}
