@import "/app/common.module.scss";
.frame {
  display: flex;
  width: 85vw;
  height: 65vh;
  gap: 2vw;
  margin: 5vh 7.5vw;
}

.leftSection {
  width: 25vw;
  @include flexColumn(center, center);
  height: 100%;
}

.rightSection {
  width: 55vw;
  @include flexColumn();
  gap: 1vw;
}

.topSection {
  display: flex;

  gap: 1vw;
  height: 32vh;
  width: 100%;

  .left {
    width: 65%;
    height: 100%;
    @include flexCenter();
  }

  .right {
    width: 20vw;
    @include flexCenter();
  }
}

.bottomSection {
  height: 32.5vh;

  width: 55vw;
  display: flex;
  gap: 1vw;

  .one {
    width: 20%;
    height: 100%;
  }

  .two,
  .three {
    width: 40%;
    height: 100%;
  }
}
