@import "/app/common.module.scss";
$bg1: $boxBg;
$bg2: #082c2c;
$main: $primaryColor;
$maingd: $simpleGradient;
.topLeftContent {
  width: 100%;
  height: 80%;
  padding: 5%;
  @include boxBg($roundOuter, $bg1);

  .about {
    @extend .subHeading;
    font-size: 3vw;
    text-align: left;
  }

  .description {
    @extend .description;
    margin-top: 0.5vw;
    font-size: 1.25vw;
  }
}

.topRightContent {
  width: 100%;
  height: 100%;
  @include flexCenter();
  @include boxBg($roundOuter, $bg1);
}

.bottomLeftContent {
  width: 100%;
  height: 100%;
  @include flexColumn(space-evenly, center);
  @include boxBg($roundOuter, $simpleGradient);
  .tag {
    margin: 1%;
    padding: 2.5%;
    width: 85%;
    @include flexCenter();
    background: $bg2;
    box-shadow: $shadowLight;
    border-radius: 20px;

    h3 {
      @extend .seperated;
      font-size: 1vw;
      letter-spacing: 2px;
    }
  }
}

.bottomRightContent {
  width: 100%;
  height: 100%;
  @include boxBg($roundOuter, $bg1);
}

.leftContent {
  width: 100%;
  height: 100%;
  display: flex;
  @include boxBg($roundOuter, $bg1);
  overflow: hidden;

  .topContent,
  .bottomContent {
    writing-mode: vertical-rl;
    @include flexCenter();
  }

  .topContent {
    width: 80%;
    height: 100%;
    text-orientation: sideways-right;
    background-color: $bg1;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 5%;

    h1 {
      @extend .title;
      font-size: 4.25vw;
      color: $textSecondary;
      letter-spacing: 2px;
      line-height: 1;
      margin-bottom: 2.5%;
    }
  }

  .bottomContent {
    width: 20%;
    height: 100%;
    padding-top: 5%;

    background: $simpleGradient;
    justify-content: flex-start;
    align-items: center;
    text-orientation: upright;
    h4 {
      @extend .subHeading;
      font-size: 4vw;
      padding: 0;
      margin: 0;
      color: $textSecondary;
    }
  }
}
