.landingContainer {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(16, 1fr); /* 14 columns */
  grid-template-rows: repeat(16, 1fr); /* 16 rows */
  gap: 5px; /* Adjust the gap as needed */
}

.liquidGradient {
  grid-column: 1 / span 5;
  grid-row: 2 / span 14;
}

.textBox {
  grid-column: 4 / span 11;
  grid-row: 5 / span 7;
  background-color: var(--boxBackground);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoBox {
  grid-column: 11 / span 2;
  grid-row: 13 / span 3;
}

.symbolBox {
  grid-column: 14 / span 2;
  grid-row: 13 / span 3;
}

.boxInfo {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.infoBox,
.symbolBox {
  display: flex;
  position: relative;
  border: 2px solid transparent;
}

/* Top left corner border */
.infoBox::before,
.symbolBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid red;
  border-left: 2px solid red;
  z-index: 2;
}

/* Bottom right corner border */
.infoBox::after,
.symbolBox::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
}

/* Top left corner border */
