@import "../../common.module.scss";
/* Projects Component */
.projectsComponent {
  z-index: 50;
  position: relative;
  height: 10vh;
}

/* Projects Info Container */
.projectsContainer {
  display: flex;
  height: 0vh;
  box-shadow: $boxShadow;
  background-color: $boxBackground;
  z-index: 50;
}

/* Circle and Circle Container */
.circlesContainer {
  @extend .flexColumnCenter;
  width: 200px;
  background: $simpleGradient;
  box-shadow: $buttonShadow;
  overflow-y: hidden;
  .circle {
    width: 2.25vw;
    height: 2.25vw;
    border-radius: 50%;
    border: 2px solid $boxBackground;
    transition: background-color 0.5s ease;
    margin-top: 25px;
    background-color: transparent;
    .circle:hover {
      background-color: $boxBackground;
    }
  }
}

.projectInfoContainer {
  width: 90vw;
  max-height: 70vh;
  overflow: hidden;
}
