/* Main Container */
.projectsContent {
  display: flex;
  margin: 1%;
  width: 100%;
  z-index: 50;
}

/* Image for Project */
.projectImage {
  margin: 1%;
  border: 1px solid white;
}

/* Three Sections of Project Info */
.projectsContentLeft {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.projectsContentMiddle {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.projectsContentRight {
  flex-grow: 1;
}

/* Sections of the Projects Info */

.topLeft {
  font-family: "Monument Extended Variable";
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 1.5vw;
  margin: 2.5% 0 0 0;
}

.middleLeft {
  margin-top: 20vh;
  font-size: 2.5vw;
  letter-spacing: 5px;
}
.middleLeft h1 {
  color: #f2f2f2;
}

.bottomLeft {
  margin: 2.5% 0;
  font-size: 1.5vw;
  padding-left: 2.5%;
  font-family: "Monument Extended Variable";
  text-transform: uppercase;
  font-weight: 400;
}

.idea {
  margin-top: 10vh;
  height: 55%;
  width: 70%;
  overflow: hidden;
}
.idea h3 {
  color: #f2f2f2;
}
.idea p {
  font-size: 1.5vw;
}

.bottomMiddle {
  margin-top: 12vh;
  font-family: "Monument Extended Variable";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 0.8vw;
}

/* Sizing for iPhone */
@media screen and (max-width: 600px) {
  .projectsContentRight {
    display: 1;
  }
  .middleLeft {
    font-size: 3rem;
  }
  .bottomLeft {
    font-size: 0.8vw;
  }
}
