.contactCard {
  height: 25%;
  border-bottom: 2.5px solid white;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}

.contactCard h1 {
  color: #f2f2f2;
  font-size: 22.5vh;
  font-family: "Neue Montreal Semibold";

  text-wrap: nowrap;
}

.pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
