.contactCard {
  height: 25%;
  border-bottom: 2.5px solid white;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}

.contactCard h1 {
  color: #f2f2f2;
  font-size: 22.5vh;
  font-family: "Neue Montreal Semibold";
  line-height: 100%;
  text-wrap: nowrap;
}
