@import "/app/common.module.scss";

.aboutdisplay {
  width: 40%;
  height: 100%;
  @include boxBg(0);
  .abouttext {
    width: 50%;
    height: 95%;
    background: $simpleGradient;
    text-align: left;
    padding-top: 2.5%;

    h4 {
      color: $textPrimary;
      padding-left: 2.5%;
      margin: 1%;
    }
    p {
      text-align: left;
      padding-left: 5%;
      margin: 1.5%;
    }
  }

  .aboutimg {
    width: 50%;
  }

  @media screen and (max-width: 900px) {
    width: 60%;

    .abouttext,
    .aboutimg {
      width: 50%;
    }

    .abouttext p {
      padding-left: 5%;
    }
  }
}
