@import "/app/common.module.scss"; // Import the common SCSS file

.card {
  width: 35%;
  height: 75%;
  margin: 1%;

  @include flexColumn(flex-end, none);
  @include boxBg($roundMiddle, $simpleGradient, $shadowLight);
}

.description {
  width: 100%;
  @include boxBg(0 0 $roundMiddle $roundMiddle, $boxBgInverse, none);
  transition: height 0.3s ease;

  .title {
    padding-left: 2.5%;

    color: black;
  }

  .content {
    overflow: hidden;

    p {
      margin-left: 2.5%;
      font-size: 1vw;
      letter-spacing: 0.5px;
      color: black;
    }
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 85%;
    height: 55vh;
    margin-bottom: 2.5vh;
  }

  .description .content p {
    font-size: 2.5vw;
  }

  .description .title {
    font-size: 5vw;
    margin-top: 0;
    padding-top: 0.5%;
  }
}

@media screen and (max-width: 600px) {
  .description .title {
    margin: 0%;
  }
  .title {
    h5 {
      font-size: 2.75vh;
    }
  }

  .description .content p {
    font-size: 3.5vw;
  }
}
