@import "/app/common.module.scss"; // Import the common SCSS file

.card {
  width: 35%;
  height: 75%;
  margin: 1%;
  overflow: hidden;
  @include flexColumn(flex-end, none);
  @include boxBg($roundMiddle, $simpleGradient, $shadowLight);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

.description {
  width: 100%;
  @include boxBg(0 0 $roundMiddle $roundMiddle, $white, none);

  .title {
    padding: 1% 2.5% 1% 2.5%;
    h4 {
      color: $bgBlack;
    }
  }

  .content {
    padding: 0.5rem 1rem 2rem 1rem;

    max-height: calc(95% - 50px);
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
    display: none;
    scrollbar-width: thin;
    scrollbar-color: $primaryColor $white;

    &::-webkit-scrollbar {
      width: 8px;
      display: block;
    }

    &::-webkit-scrollbar-track {
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primaryColor;
      border-radius: 4px;
    }

    p {
      margin-left: 0;

      color: $black;
    }
  }

  &.expanded {
    .content {
      display: block;
    }
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 85%;
    margin-bottom: 5%;
  }

  .description .title {
    margin: 0%;
    margin-top: 1.5%;
  }

  .title {
    h4 {
      font-size: 3vh;
    }
  }

  .description .content p {
    font-size: 2vh;
  }
}
