@import '/app/common.module.scss'; // Import the common SCSS file

.classescontainer {
  background: $textPrimary;
  position: relative;
  overflow: hidden;
  box-shadow: $boxShadow;
  height: 100%;
  padding-top: 2.5%;

  .classestitle {
    height: 15%;
    @extend .flexCenter;
    padding: 5% 2.5%;
    margin: 0%;
    user-select: none;
    h1 {
      margin: 0%;
      font-size: 12.5vw;
      color: #101518;
    }
  }

  @media screen and (max-width: 800px) {
    .classestitle {
      height: 20vh;
      padding: 2.5%;
    }
  }
}

.cardcontainer {
  height: 65%;
  padding: 2.5%;
  padding-top: 0%;
  margin-bottom: 10%;
  @extend .flexCenter;

  @media screen and (max-width: 800px) {
    height: 180vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
}
