@import "/app/common.module.scss";

.workcontainer {
  height: 100%;
}

.workinfo {
  height: 160vh;
  @include flexColumn(center, center);
}

.workimg {
  z-index: -10;
  position: absolute;
  width: 100vw;
  height: 160vh;
  background: url(../../../public/deereimg.jpeg);
  background-size: cover;
}

/* Display For Jobs */
.workdisplay {
  height: auto;
  width: 90vw;
  padding: 2.5%;
  @include flexColumn(center, flex-start);
  @include boxBg($roundMiddle);
}

.jobtext {
  h5 {
    color: $white;
    margin: 0.5%;
  }

  h6 {
    color: $white2;
  }
  p {
    color: $white2;
    @for $i from 2 through 4 {
      &:nth-child(#{$i}) {
        padding-left: (5% * ($i - 1));
      }

      font-size: 3.25vw;
      letter-spacing: 1px;
      margin: 1%;
    }
  }
  .project {
    padding-left: 2.5%;
  }
}

/* About Display */
.aboutdisplay {
  width: 100vw;
  height: 30vh;
}
