@import '/app/common.module.scss'; // Import the common SCSS file

.workcontainer {
  height: 100%;
}

.workinfo {
  height: 150vh;
  display: flex;
}

.workimg {
  width: 45%;
  background: url(../../../public/deereimg.jpeg);
  background-size: cover;
  @include flexColumn(flex-end, flex-end);

  box-shadow: $shadowLight;
}

.worktext {
  width: 100%;
  height: 12.5%;
  overflow: hidden;
  box-shadow: $topShadow;
}

/* Non-image */
.workbox {
  width: 60%;
  margin-bottom: 10%;
  @include flexColumn(center, center);
}

/* Display For Jobs */
.workdisplay {
  width: 60vw;
  margin-left: -50%;
  padding: 2.5%;
  padding-right: 0%;
  @include flexColumn(center, flex-start);
  @include boxBg($roundMiddle);
}

.jobtext {
  h5 {
    color: $white;
    margin: 0.5%;
  }

  h6 {
    color: $white2;
  }
  p {
    color: $white2;
    @for $i from 2 through 4 {
      &:nth-child(#{$i}) {
        padding-left: (5% * ($i - 1));
      }

      font-size: 1.25vw;
      margin: 1%;
    }
  }
  .project {
    padding-left: 2.5%;
  }
}

/* About Display */
.aboutdisplay {
  width: 100%;
  height: 35vh;
  @extend .flex-horizontal;
  justify-content: flex-end;
  margin-top: -20vh;
}

@media screen and (max-width: 600px) {
  .workdisplay {
    width: 92.5vw;
    height: 65vh;
    margin-left: -65vw;
    padding-left: 5vw;
    padding-right: 2.5vw;
  }

  .worktext {
    height: 7.5%;
  }

  .workimg {
    width: 65%;
  }

  .workbox {
    width: 35%;
  }

  .aboutdisplay {
    width: 100%;
    height: 40vw;
    margin-top: 10%;
  }
}
