@import "/app/common.module.scss";

.workcontainer {
  height: 100%;
}

.workinfo {
  height: 150vh;
  display: flex;
}

.workimg {
  width: 45%;
  background: url(../../../public/deereimg.jpeg);
  background-size: cover;
  @include flexColumn(flex-end, flex-end);
  box-shadow: $shadowLight;
}

.worktext {
  width: 100%;
  height: 12.5%;
  overflow: hidden;
  box-shadow: $topShadow;
}

/* Non-image */
.workbox {
  width: 60%;
  margin-bottom: 10%;
  @include flexColumn(center, center);
}

/* Display For Jobs */
.workdisplay {
  width: 65vw;
  margin-left: -50%;
  padding: 2.5%;
  padding-right: 0%;
  @include flexColumn(center, flex-start);
  @include boxBg($roundMiddle);
}

.jobtext {
  h5 {
    margin: 0.5%;
    @extend .tag;
  }

  h6 {
    color: $white;
    @extend .description;
    font-size: 1.75vw;
    font-weight: bold;
  }
  p {
    @extend .paragraph;
    @for $i from 2 through 4 {
      &:nth-child(#{$i}) {
        padding-left: (5% * ($i - 1));
      }

      font-size: 1.25vw;
      margin: 1%;
    }
  }
  .project {
    padding-left: 2.5%;
  }
}

/* About Display */
.aboutdisplay {
  margin-left: 60vw;
  width: 40vw;
  height: 22.5vw;
  @extend .flex-horizontal;
  justify-content: flex-end;
  margin-top: -15vh;
}
