@import '@/app/common.module.scss';

.projectsComponent {
  overflow: visible;
  overflow-x: hidden;
  height: 350vh;
}

.projectContent {
  width: 100%;
  height: 50vh;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about {
  display: flex;
  align-items: center;
  height: 25vh;
  padding-left: 4vw;
  h5 {
    font-family: var(--mediumSeperated);
    color: $textPrimary;
  }

  .text {
    width: 50%;
    @extend .flexCenter;
    padding: 2.5vh 0;
    text-align: center;
  }
  .image {
    margin: 0vh 2.5vw;
    border-radius: 25px;
    width: 50%;
    height: 85%;
    background: $simpleGradient;
  }
}

.description {
  width: 100%;
  margin-bottom: 2.5vh;
}
