@import "@/app/common.module.scss";

.projectsContent {
  display: flex;
  width: 98%;
  height: 50vh;
  padding: 1%;
  user-select: none;
}

.left,
.right {
  width: 55%;
  @include flexColumn(space-between);
  text-align: left;
}
.right {
  @include flexColumn(center, flex-end);
  width: 45%;
  text-align: right;
}

.topLeft {
  align-self: flex-start;
  width: 100%;
  p {
    @extend .tag;
    font-size: 2vw;
  }
}

.middleLeft {
  @include flexColumn(center, flex-start);
  flex: 1;
  h1 {
    @extend .heading;
    color: $white2;
    margin-bottom: 0px;
    margin-top: -2.5%;
    font-size: 5.5vw;
  }
  p {
    margin-left: 25px;
    margin-top: -10px;
    @extend .subHeading;
    font-size: 2vw;
  }
}

.middleRight {
  @include flexColumn(center, flex-end);
  margin-left: 10%;
  h3 {
    color: $white2;
    margin: 0;
  }
  p {
    @extend .description;
    margin: 0;
  }
}

.bottomRight {
  margin: 2.5% 0%;
  width: 120%;
  p {
    @extend .seperated;
    color: $white2;
  }
}
