@import "@/app/common.module.scss";

/* Projects Component */
.projectsComponent {
  z-index: 50;
  position: relative;
  height: 12.5vh;
}

/* Projects Info Container */
.projectsContainer {
  display: flex;
  overflow: hidden;
  height: 0vh;
  @include boxBg();
}

/* Circle and Circle Container */
.circlesContainer {
  @include flexColumn(center, center);
  @include boxBg(0, $simpleGradient, $shadowLight);
  user-select: none;
  width: 10vw;
  .circle {
    width: 3vw;
    height: 3vw;
    margin-top: 25px;
    border: 2px solid $bgBlack;
    transition: background-color 0.5s ease;

    @include boxBg(50%, transparent, $shadowLight);
    &.selected {
      background-color: $bgBlack;
    }

    &:hover {
      background-color: $bgBlack;
    }
  }
}

.projectInfoContainer {
  width: 90vw;
  max-height: 50vh;
  background: $bgBlack;
}
