@import "@/app/common.module.scss";

.projectsComponent {
  width: 100vw;
  margin-bottom: 20vh;
}

.projectContent {
  height: auto;
  .spacer {
    height: 8vh;
  }
}

.info {
  @include flexColumn();
  padding: 5% 2.5%;
}

.about {
  @include flexCenter();
  height: 22.5vh;

  .text {
    width: 45%;
    @include flexCenter();
    margin: 0 2.5%;
  }
  .image {
    margin: 0 2.5%;
    width: 45%;
    height: 80%;
    @include boxBg($roundOuter, $simpleGradient);
  }
}

.description {
  width: 100vw;
  margin-bottom: 2.5vh;
}
