@import "@/app/common.module.scss";

.projectsContent {
  display: flex;
  width: 99%;
  height: 50vh;
  padding: 1%;
  user-select: none;
}

.left,
.right {
  width: 60%;
  @include flexColumn(space-between);
  text-align: left;
  padding: 0 1vw;
}
.right {
  width: 40%;
  text-align: right;
}

.topLeft {
  align-self: flex-start;
  p {
    @extend .tag;
    font-size: 2vw;
  }
}

.middleLeft {
  @include flexColumn(center, flex-start);
  flex: 1;
  h1 {
    @extend .heading;
    color: $textSecondary;
    margin-bottom: 0px;
    margin-top: -15px;
  }
  p {
    margin-left: 25px;
    margin-top: -10px;
    @extend .subHeading;
    font-size: 2vw;
  }
}

.middleRight {
  margin-top: 5vh;
  height: 70%;
  @include flexColumn(center, flex-end);
  h3 {
    color: $textSecondary;
    margin: 0;
  }
  p {
    @extend .description;
  }
}

.bottomRight {
  height: 15%;
  width: 100%;
  flex: 1;
  p {
    @extend .seperated;
    color: $textSecondary;
  }
}
