@import "@/app/common.module.scss";

.projectsComponent {
  width: 100vw;
  height: 350vh;
}

.projectContent {
  height: 50vh;
}

.info {
  width: 100vw;
  @include flexColumn();
}

.about {
  @include flexCenter();
  height: 25vh;
  padding-left: 4vw;
  h5 {
    font-family: var(--mediumSeperated);
    color: $textPrimary;
  }

  .text {
    width: 50%;
    @include flexCenter();
    padding: 2.5vh 0;
    text-align: center;
  }
  .image {
    margin: 0vh 2.5vw;
    width: 50%;
    height: 85%;
    @include boxBg($roundOuter, $simpleGradient, none);
  }
}

.description {
  width: 100vw;
  margin-bottom: 2.5vh;
}
