/* skillslider.module.css */

.sliderContainer {
  height: auto;
  margin-top: 5vw;
  display: flex;
  width: 90vw;
  flex-direction: column;
}

.toggleContainer {
  display: flex;
  justify-self: flex-start;
  width: 90vw;
  padding-left: 2.5%;
}

.sliderTrack {
  width: 100vw;
}

.splide__slide {
  height: 80%;
  padding-top: 10%;
}

/* Sizing for Iphone */
@media screen and (max-width: 800px) {
  .toggleContainer {
    width: 100vw;
  }
}
