@import "/app/common.module.scss";

.profileContainer {
  @include flexColumn(center, none);
  width: 100%;
  height: 95%;
  padding: 2.5% 5%;
  background-color: $bgBlack;
  border-radius: $roundMiddle;
  box-shadow: $shadowHeavy;

  .header {
    width: 100%;
    margin-bottom: 0.5vw;

    h3 {
      @extend .subHeading;
      color: $white;
      text-wrap: nowrap;
    }
  }

  .statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    .statBox {
      @include flexColumn(center, center);
      background: $secondaryColor;
      border-radius: $roundInner;
      padding: 1vh 0.5vw;
      text-align: center;
      width: 35%;
      height: 90%;

      box-shadow: $shadowLight;

      h4 {
        color: $white2;
        font-size: 1.5vw;
        @extend.tag;
      }

      p {
        color: $white2;
        font-size: 2vw;
        @extend.tag;
        font-weight: bold;
      }
    }
  }

  .reposContainer {
    width: 100%;

    h3 {
      @extend .subHeading;
      margin-bottom: 1vw;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1vw;

      li {
        background: $primaryColor;
        border-radius: $roundOuter;
        padding: 0.75vw 1vw;
        box-shadow: $shadowLight;
        width: 40%;
        a {
          text-decoration: none;
          @extend .tag;
          font-size: 1.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .statsContainer {
    flex-direction: column;
    align-items: center;

    .statBox {
      width: 80%;
    }
  }

  .reposContainer ul li {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .reposContainer ul li {
    width: 100%;
  }
}
