@import "/app/common.module.scss";

.profileContainer {
  @include flexColumn(none, none);
  width: 95%;
  height: 95%;
  padding: 5%;

  background-color: $bgBlack;
  border-radius: $roundMiddle;
  box-shadow: $shadowHeavy;

  .header {
    width: 100%;
    margin-bottom: 0.5vw;

    h3 {
      color: $white;
      text-wrap: nowrap;
    }
  }

  .statsContainer {
    @include flexCenter(center);
    gap: 1rem;

    .statBox {
      @include flexColumn(center, center);
      @include boxBg($roundInner, $secondaryColor, $shadowLight);
      padding: 1vh 0.5vw;
      text-align: center;
      width: 40%;
      height: 90%;

      h4 {
        font-size: 1.75vw;
        letter-spacing: 1px;
      }

      p {
        font-size: 2vw;
        @extend .label;
      }
    }
  }

  .reposContainer {
    width: 100%;
    h3 {
      color: $white;
      margin-bottom: 1vw;
    }

    ul {
      margin-left: 2.5%;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      li {
        @include boxBg($roundMiddle, $primaryColor, $shadowLight);
        padding: 1.5vh 1vw;
        width: 40%;

        a {
          text-decoration: none;
          @extend .thin;
          font-size: 1.5vw;
          display: block;
          transition: all 0.3s ease;
          color: $white2; /* Default link color */

          &:hover {
            color: $highlightColor; /* Change only text color */
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .profileContainer {
    width: 80vw;
    margin-bottom: 5%;
    .header h3 {
      font-size: 4.5vh;
    }
    .statsContainer {
      height: 15vh;
      .statBox {
        h4 {
          font-size: 2.5vh;
        }
        p {
          font-size: 3vh;
        }
      }
    }
    .reposContainer {
      h3 {
        font-size: 4.5vh;
      }
      ul {
        li {
          width: 45%;
          a {
            padding-left: 1vw;
            font-size: 2.25vh;
          }
        }
      }
    }
  }
}
