@import "/app/common.module.scss";

.cardContainer {
  @extend .flexCenter;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.card {
  background: $boxBackground;
  border-radius: 15px;
  @extend .boxBackground;
  width: 90%;
  height: 95%;
}

.cardHeader {
  border-radius: 15px 15px 0 0;
  background: $primaryColor;
  height: 30%;
  display: flex;
  align-items: flex-end;

  .cardTitle {
    width: 60%;
    background: $boxBackground;
    height: 30%;
    border-top-left-radius: 25px;
    @extend .flexCenter;
    h6 {
      @extend .subHeading;
      font-size: 2.5vh;
      padding-left: 2.5%;
      color: $textPrimary;
    }
  }
  .titleSpacer {
    .titleInner {
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 30px;
      background: $primaryColor;
    }
    background-color: $boxBackground;
    height: 30%;
    width: 40%;
  }
}

.cardBody {
  @extend .flexColumn;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2.5%;
}

.cardInfo {
  display: flex;
  margin-top: 10px;
}

.infoBox {
  background: $secondaryColor;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  color: $textPrimary;
  width: 35%;
  height: 8vh;
  box-shadow: $shadowHeavy;

  &:hover {
    background: $secondaryHoverColor;
    transform: translateY(-5px);
  }

  .infoLabel {
    color: $textSecondary;
    font-size: 0.9em;
  }

  .infoValue {
    font-size: 1.4em;
    font-weight: bold;
    color: $textPrimary;
  }
}

.githubInfo {
  margin-top: 0;
  padding: 2.5%;
  width: 100%;

  h4 {
    @extend .subHeading;
    margin: 0;
    color: $textPrimary;
  }
  ul {
    list-style-type: none;
    padding: 0;
    color: $textPrimary;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 2.5%;
  }
  li {
    background: $primaryColor;
    @extend .tag;
    border-radius: 10px;
    padding: 10px;
    width: calc(33.33% - 10px);
    box-shadow: $shadowHeavy;

    &:hover {
      background: $primaryColor;
      transform: translateY(-5px);
    }
    a {
      color: $textPrimary;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .githubInfo {
    li {
      width: 35%;
    }
  }
}
