@import "/app/common.module.scss";
.updateSection {
  @extend .flexCenter;
  flex-wrap: wrap;
  gap: 1vw 1vw;
  padding: 1vh 1vw;
}
.commitCard {
  width: 16vw;
  height: 16vh;
  border-radius: 15px;

  text-overflow: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Ensure the button stays at the bottom
}

.cardTop {
  background-color: $boxBackground;
  height: 12vh;
  padding: 1vh 0.25vw 0 1vw;
  border-radius: 15px 15px 15px 0;
}
.cardBottom {
  height: 5vh;
  display: flex;
  .buttonSpacer {
    width: 65%;

    margin-right: -1.5%;
    background-color: $boxBackground;
    border-radius: 0px 0px 20px 15px;
  }
  .bottomButton {
    width: 40%;
    @extend .flexCenter;
    border-top-left-radius: 15px;
    margin-top: -1.5%;
    background-color: $background;
    .commitButton {
      margin-top: 1.5%;
      background-color: $secondaryColor;
      border: none;
      border-radius: 10px;
      width: 85%;
      height: 3.5vh;
      @extend .flexCenter;
      cursor: pointer;
    }
  }
}

.commitCard h3 {
  font-size: 1.75vw;
  color: $textPrimary;
}

.commitCard p {
  margin: 0;
  font-size: 1vw;
  color: $textSecondary;
}

.commitButton:hover {
  background-color: $secondaryHoverColor;
}
