@import "/app/common.module.scss";
.updateSection {
  @include flexCenter();
  flex-wrap: wrap;
  gap: 1vh 1vw;
}
.commitCard {
  width: 16vw;
  height: 18vh;
  border-radius: 15px;
  text-overflow: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTop {
  background-color: $gray;
  height: 11.5vh;
  padding: 1vh 1vw;
  border-radius: 15px 15px 15px 0;
}
.cardBottom {
  height: 4.5vh;
  display: flex;
  .buttonSpacer {
    width: 60%;
    height: 100%;
    margin-top: -0.5%;
    margin-right: -1.5%;
    background-color: $gray;
    border-radius: 0px 0px 20px 15px;
  }
  .bottomButton {
    width: 45%;
    @include flexCenter(center);
    border-top-left-radius: 15px;

    background-color: none;
    .commitButton {
      background-color: $secondaryColor;
      border: none;
      border-radius: 10px;
      height: 90%;
      width: 90%;
      @include flexCenter();
      cursor: pointer;
    }
  }
}

.commitCard h5 {
  color: $white;
}

.commitCard h6 {
  margin: 0;
  color: $white2;
}

.commitButton:hover {
  background-color: $secondaryHoverColor;
}

@media screen and (max-width: 600px) {
  .updateSection {
    @include flexCenter();
    flex-wrap: wrap;
    gap: 2vw 2vw;
    padding: 1vh 1vw;
  }
  .commitCard {
    width: 42.5vw;
    height: 20vh;
    border-radius: 15px;
  }
  .cardTop {
    height: 15vh;
    padding: 1vh 1vw 0 3vw;
  }
  .cardBottom {
    height: 5vh;
    display: flex;
    .buttonSpacer {
      margin-right: -3.5%;
    }
    .bottomButton {
      width: 45%;
      .commitButton {
        margin-top: 2%;
        height: 4vh;
      }
    }
  }
  .commitCard h3 {
    font-size: 3vh;
  }

  .commitCard p {
    font-size: 2vh;
  }
}
