@import "/app/common.module.scss";

.pageContainer {
  @extend .flexColumnCenter;
  width: 90vw;
  padding: 0 5vw;
  height: auto;
  gap: 2vw 0;
}

.spacer {
  height: 50vh;
}
.updatesSection {
  height: 80vh;
  width: 100vw;
  @extend .flexColumnCenter;
}

.title {
  height: 15vh;
  width: 100%;

  display: flex;
  align-items: center;

  color: $textPrimary;
}

.content {
  display: flex;
  width: 90%;
  height: 65vh;
  .leftColumn {
    width: 35%;
  }

  .rightColumn {
    width: 65%;
    @extend .flexCenter;
  }
}

.projects {
  @extend .flexColumnCenter;
  width: 100vw;
  padding-top: 10vh;
}

.projectContainer {
  height: 65vh;
  width: 80vw;
  margin: 2.5vw 0;
  display: flex;
}

.nav {
  height: 75vh;
  width: 100vw;
}
@media screen and (max-width: 600px) {
  .updatesSection {
    height: auto;
  }
  .content {
    height: auto;
    flex-direction: column;
    .leftColumn {
      height: 60vh;
    }
    .leftColumn,
    .rightColumn {
      width: 100%;
    }
  }
}
