@import '/app/common.module.scss';
.pageContainer {
  width: 100vw;
  padding: 0;
}
.spacer {
  height: 50vh;
}
.featuredProject {
  height: 60vh;
  width: 100%;
  display: flex;
}

.projects {
  @extend .flexColumnCenter;

  width: 100vw;
}

.projectContainer {
  height: 70vh;
  width: 85vw;
  margin: 2.5vw 0;
  display: flex;
}

.nav {
  height: 80vh;
  width: 100vw;
}
