@import './fonts.scss';
/* Variables */
$primaryColor: #ef5e04;
$primary-hover-color: #429635;
$secondaryColor: #ff7a00;
$secondaryHoverColor: #fe8819;
$accentcolor: #efd404;
$highlightColor: #f89aa5;
$boxBackground: #1f282e;
$textPrimary: #f0f0f0;
$textSecondary: #e4e4e4;

/* Typography */

.title {
  font-size: 4.25vw;
  letter-spacing: 15px;
}

.heading {
  font-family: 'Monument Grotesk Black', sans-serif;
  font-size: 6.5vw;
  letter-spacing: 10px;
}
.subHeading {
  font-family: 'Monument Grotesk Mono', sans-serif;
  font-size: 2vw;
  color: $textSecondary;
}

.tag {
  font-family: 'Monument Grotesk Mono SemCond', sans-serif;
  font-size: 2vw;
  color: $textPrimary;
}

.description {
  font-family: 'Neue Montreal Book', sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  color: $textSecondary;
}
.seperated {
  font-family: 'Monument Grotesk Regular', sans-serif;
  font-size: 2vw;
}

/*Shadows*/

$boxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$buttonShadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$arrowShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$topShadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;

/*Gradients*/
$simpleGradient: linear-gradient(45deg, $accentcolor, $primaryColor, $accentcolor);

/* Containers */
.container {
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
}

.pageContainer {
  @extend .flexColumnCenter;
  width: 90vw;
  padding: 5vw;
  gap: 2rem;
}

.gridDisplayContainer {
  @extend .container;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Flex Utilities */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Grid Utilities */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
}

.boxBackground {
  background-color: #1f282e;
  box-shadow: $boxShadow;
  border-radius: 10px;
}

/* Misc */
.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 16px;
}

.editIcon {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
}

.actionButtons {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  right: 10px;
}

.link {
  font-size: 16px;
  color: $secondaryColor;
  text-decoration: none;
  &:hover {
    background-color: $primary-hover-color;
  }
}

/* Buttons */
.required {
  color: red;
  margin-left: 4px;
}

.saveButton,
.deleteButton {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton {
  background-color: #2196f3;
  color: #fff;
}

.deleteButton {
  background-color: #f44336;
  color: #fff;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: $secondaryColor;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  @extend .flexCenter;

  &:hover {
    background-color: $secondaryHoverColor;
  }
}
