/* Variables */
/* Colors */
$primaryColor: #f27127;
$primaryHoverColor: #d66322;
$secondaryColor: #27b3f2;
$secondaryHoverColor: #239ad4;
$highlightColor: #d7f227;
$accentColor: #f2a778;
$gray: #262d33;
$bgBlack: #1b2126;
$Black: #242a30;
$white2: #f0f0f0;
$white: #fbfbfb;

/* Shadows */
$shadowHeavy: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$shadowLight: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$arrowShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$topShadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;

/* Gradients */
$simpleGradient: linear-gradient(45deg, $secondaryColor, $accentColor, $primaryColor);

/* Typography */

.title {
  font-family: "GT America Expanded Black", sans-serif;
  letter-spacing: 15px;
}

.subtitle {
  font-family: "GT America Regular Italic", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  color: $white2;
}

.heading {
  font-family: "Monument Grotesk Black", sans-serif;
  font-size: 6.5vw;
  letter-spacing: 10px;
}

.subHeading {
  font-family: "Monument Grotesk Bold", sans-serif;
  color: $white2;
  font-weight: 500;
}

.tag {
  font-family: "Monument Grotesk Mono SemCond", sans-serif;
  color: $white2;
}

.label {
  font-family: "Monument Grotesk Mono", sans-serif;
  font-weight: 350;
  letter-spacing: 1px;
  color: $white;
}

.description {
  font-family: "Neue Montreal Book", sans-serif;
  font-weight: 300;
  color: $white2;
  font-size: 1.5vw;
}

.separated {
  font-family: "Monument Grotesk Regular", sans-serif;
  letter-spacing: 3px;
  font-size: 1.75vw;
}

.thin {
  font-family: "Monument Grotesk Thin", sans-serif;
  color: $white;
}

.paragraph {
  font-family: "GT America Regular", sans-serif;
  font-weight: 300;
}

.caption {
  font-family: "Neue Montreal Semibold", sans-serif;
  color: $white;
  letter-spacing: 2px;
}

.small-text {
  font-family: "Neue Montreal Book", sans-serif;
  font-weight: 400;
}

/* Flex Utilities */

@mixin flexColumn($justify: none, $align: none) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexCenter($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

.flex-horizontal {
  display: flex;
  align-items: center;
}

/* Containers */

.pageContainer {
  @include flexColumn(center, center);
  width: 90vw;
  padding: 5vw;
  gap: 2rem;
}

$roundOuter: 30px;
$roundMiddle: 15px;
$roundInner: 7.5px;

$boxBgInverse: #f0f0f0;

/* Box Styles */
@mixin boxBg($radius: 0, $bgColor: $gray, $shadow: $shadowHeavy) {
  background: $bgColor;
  box-shadow: $shadow;
  border-radius: $radius;
  background-size: cover;
  background-position: center;
}

/* Miscellaneous */
.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 16px;
}
