/* GT America Expanded Black */
@font-face {
  font-family: "GT America Expanded Black";
  src: url("../public/fonts/GT America Expanded Black.ttf") format("truetype");
}

/* GT America Extended Black */
@font-face {
  font-family: "GT America Extended Black";
  src: url("../public/fonts/GT America Extended Black.ttf") format("truetype");
}

/* GT America Medium */
@font-face {
  font-family: "GT America Medium";
  src: url("../public/fonts/GT America Medium.ttf") format("truetype");
}

/* GT America Regular Italic */
@font-face {
  font-family: "GT America Regular Italic";
  src: url("../public/fonts/GT America Regular Italic.otf") format("opentype");
}

/* GT America Regular */
@font-face {
  font-family: "GT America Regular";
  src: url("../public/fonts/GT America Regular.otf") format("opentype");
}

/* GT America Standard Bold */
@font-face {
  font-family: "GT America Standard Bold";
  src: url("../public/fonts/GT America Standard Bold.otf") format("opentype");
}

/* Monument Grotesk Regular */
@font-face {
  font-family: "Monument Grotesk Regular";
  src: url("../public/fonts/Monument Grotesk Regular.otf") format("opentype");
}

/* Neue Montreal Bold */
@font-face {
  font-family: "Neue Montreal Bold";
  src: url("../public/fonts/Neue Montreal Bold.ttf") format("truetype");
}

/* Neue Montreal Book */
@font-face {
  font-family: "Neue Montreal Book";
  src: url("../public/fonts/Neue Montreal Book.ttf") format("truetype");
}

/* Neue Montreal Semibold */
/* @font-face {
  font-family: "Neue Montreal Semibold";
  src: url("../public/fonts/Neue Montreal Semibold.ttf") format("truetype");
} */
