/* Media Queries */
@import url("./fonts.css"); /* Include the file where you defined the font-face rules */

@media screen and (max-width: 600px) {
}

body {
  background-color: #181818;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Monument Grotesk Medium", sans-serif;
  color: #f2f2f2;
  letter-spacing: 1.5px;
  font-size: 1.75vw;
  margin: 2.5% 0 0 0;
}

h1 {
  font-family: "GT America Expanded Black", sans-serif;
  letter-spacing: 4px;
  margin: 0;

  text-transform: uppercase;
  line-height: 1.2;
  font-size: 7vw;
  color: #0a0a0a;
  letter-spacing: 10px;
}

h2 {
  font-family: "Monument Grotesk Black", sans-serif;
  font-size: 4vw;
  margin-bottom: 0;
  letter-spacing: 0.5rem;
  color: #f2f2f2;
  text-transform: uppercase;
  padding-left: 2.5%;
  margin-top: 0;
}

h3 {
  font-family: "Monument Grotesk Bold", sans-serif;
  color: #f2f2f2;
  margin: 2.5% 0;
  font-size: 3.5vw;
}

h4 {
  font-family: "Monument Grotesk Medium", sans-serif;
  color: #f2f2f2;
  font-size: 3vw;
  margin: 1% 0% 0% 5%;
  letter-spacing: 0.025em;
}

h5 {
  font-family: "Neue Montreal Bold", sans-serif;
  margin: 2.5% 0% 0% 0%;
  letter-spacing: 3px;
  font-size: 2.5vw;
  color: #f2f2f2;
}

h6 {
  font-family: "Monument Extended ", sans-serif;
  font-size: 2vw;
  margin: 0;
  margin-top: 2.5%;
  letter-spacing: 1px;
  color: #f2f2f2;
}

.pageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.textGradient {
  background: -webkit-linear-gradient(45deg, #2b76d8, #f277b0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media Query for Screens up to 800px (Mobile) */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 9vw;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 6vw;
  }
  h2 {
    font-size: 5.5vw;
  }

  h3 {
    font-size: 4.5vw;
  }

  h4 {
    font-size: 4vw;
  }

  h5 {
    font-size: 3.5vw;
  }
  h6 {
    font-size: 3.5vw;
  }
  p {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  h5 {
    font-size: 5vw;
  }
  h6 {
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
  }
}
