/* Media Queries */
@import url('./fonts.css'); /* Include the file where you defined the font-face rules */

body {
  background-color: #101518;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

p {
  margin: 10px;
  font-size: 1.5vw;
  color: #e4e4e4;
}

h1 {
  font-family: 'GT America Expanded Black', sans-serif;
  letter-spacing: 4px;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 4.5vw;
  color: #0a0a0a;
  letter-spacing: 10px;
}

h2 {
  font-family: 'Monument Grotesk Black', sans-serif;
  font-size: 4.5vw;
  margin-bottom: 0;
  letter-spacing: 4px;

  text-transform: uppercase;
  padding-left: 2.5%;
  margin-top: 0;
}

h3 {
  font-family: 'Monument Grotesk Bold', sans-serif;

  margin: 2.5% 0;
  font-size: 3.5vw;
}

h4 {
  font-family: 'Monument Grotesk Medium', sans-serif;
  font-weight: 500;
  font-size: 3vw;
  margin: 1% 0% 0% 5%;
  letter-spacing: 4px;
}

h5 {
  font-family: 'Neue Montreal Bold', sans-serif;
  margin: 2.5% 0% 0% 0%;
  letter-spacing: 3px;
  font-size: 2vw;
}

h6 {
  font-family: 'Monument Extended ', sans-serif;
  font-size: 1.75vw;
  margin: 0;
  margin-top: 2.5%;
  letter-spacing: 1px;
}

.textGradient {
  background: -webkit-linear-gradient(45deg, #2b76d8, #f277b0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media Query for Screens up to 800px (Mobile) */
@media screen and (max-width: 900px) {
  h1 {
    font-size: 10vw;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 6vw;
  }
  h2 {
    font-size: 5.5vw;
  }

  h3 {
    font-size: 4.5vw;
  }

  h4 {
    font-size: 4vw;
  }

  h5 {
    font-size: 3.5vw;
  }
  h6 {
    font-size: 3vw;
  }
  p {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 6.75vw;
  }
  h5 {
    font-size: 6vw;
  }
  h4 {
    font-size: 6vw;
  }
  h5 {
    font-size: 6vw;
  }
  h6 {
    font-size: 5vw;
  }
  p {
    font-size: 4vw;
  }
}

html {
  /*colors*/

  /*Text*/
  --mediumSeperated: 'Monument Grotesk Regular', sans-serif;

  /*Shadow Stylign*/
  --buttonShadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --arrowShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  --topShadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
  /*Gradient Styling*/

  --complexGradient: radial-gradient(at 14.2% 15.2%, #ff0033 0px, transparent 50%), radial-gradient(at 45.3% 10.7%, #ff7a00 0px, transparent 50%),
    radial-gradient(at 87% 83%, #ff0033 0px, transparent 50%), radial-gradient(at 45.7% 44.3%, #ff7a00 0px, transparent 50%),
    radial-gradient(at 85.9% 43.1%, #ff4a00 0px, transparent 50%), radial-gradient(at 19.3% 76.5%, #ff4d00 0px, transparent 50%);
}
