.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.landingContainer {
  margin: 0;

  height: 87.5vh;
}

.projectContainer {
  height: 12.5vh;
  margin: 0;
  align-self: flex-end;
}

.mobilePageContainer {
  width: 100vw;
  margin: 0;
  overflow: hidden;
}
