.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.landingContainer {
  flex: 1;
  margin: 0;
}

.projectContainer {
  height: 10vh;
  margin: 0;
  align-self: flex-end;
}
