/* Main Container */
.projectsContent {
  display: flex;
  margin: 1%;
  width: 100%;
}

/* Image for Project */
.projectImage {
  margin: 1%;
  border: 1px solid white;
}

/* Three Sections of Project Info */
.projectsContentLeft {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.projectsContentMiddle {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.projectsContentRight {
  flex-grow: 1;
}

/* Sections of the Projects Info */
.middleLeft {
  margin-top: 20vh;
  font-family: "Genesys", sans-serif;
  font-size: 5rem;
  color: white;
}

.bottomLeft {
  margin-top: 12vh;
  font-family: "Petrov", sans-serif;
  font-size: 1.6vw;
}

.idea {
  margin-top: 22vh;
  height: 55%;
  width: 50%;
  overflow: hidden;
}

.bottomMiddle {
  margin-top: 12vh;
  font-family: "Petrov", sans-serif;
}

/* Sizing for iPhone */
@media screen and (max-width: 600px) {
  .projectsContentRight {
    display: 1;
  }
  .middleLeft {
    font-size: 3rem;
  }
  .bottomLeft {
    font-size: 0.8vw;
  }
}
