/* Projects Component */
.projectsComponent {
  z-index: 50;
  height: 10vh;
}

/* Projects Info Container */
.projectsContainer {
  display: flex;
  height: 0vh;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background-color: #0a0a0a;
}

/* Circle and Circle Container */
.circlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  background: linear-gradient(to bottom, #fd2000, #df007c);
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin-top: 25px;
}

.circle:hover {
  background-color: #0a0a0a;
}

/* New Projects Spacer */
.spacerContainer {
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}

.spacerContainer p {
  color: black;
  width: 80%;
}

.t1 {
  padding-top: 1%;
  width: 100%;
}

.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 20%;
  height: 100%;
  transition: transform 0.5s;
}

.toggleButton::before,
.toggleButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  transition: transform 0.5s;
}

.toggleButton.upArrow::before {
  border-bottom-color: #000;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.toggleButton.downArrow::before {
  border-bottom-color: #000;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}
