/* Projects Component */
.projectsComponent {
  z-index: 50;
  height: 10vh;
}

/* Projects Info Container */
.projectsContainer {
  display: flex;
  height: 0vh;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background-color: #181818;
}

/* Circle and Circle Container */
.circlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
  background: -webkit-linear-gradient(45deg, #2b76d8, #f277b0);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow-y: hidden;
}

.circle {
  width: 2.25vw;
  height: 2.25vw;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #0a0a0a;
  transition: background-color 0.5s ease;
  margin-top: 25px;
}

.circle:hover {
  background-color: #0a0a0a;
}

/* New Projects Spacer */
.spacerContainer {
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.spacerContainer h1 {
  color: black;
  width: 90%;
  font-size: 3.25vw;
  letter-spacing: 8px;
  list-style: 1px;
}

/*Everything Involving the toggle button*/
.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 20%;
  height: 100%;
  transition: transform 0.5s;
}

.toggleButton::before,
.toggleButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  transition: transform 0.5s;
}

.toggleButton.upArrow::before {
  border-bottom-color: #000;
  top: 65%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.toggleButton.downArrow::before {
  border-bottom-color: #000;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}
