.title {
  width: 100%;
  background: #f2f2f2;
  padding: 5%;
  color: #0a0a0a;
}
.title h1 {
  font-size: 8vw;
  margin: 0;
}
.title h3 {
  font-family: "Monument Grotesk Regular";
  font-size: 3.5vw;
  margin: 0;
}
/*Left Side*/
.description {
  display: flex;
}

.text {
  width: 50%;
  text-align: left;
  padding: 5%;
}

/*Right Side*/
.info {
  width: 50%;
  padding: 5%;
}

.image {
  height: 75%;
  background: -webkit-linear-gradient(45deg, #2B76D8,  #f277B0);
}
.about p{ 
  font-family: 'Monument Grotesk Regular', sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}
