/*Left Side*/
.description {
  display: flex;
  height: 45vh;
  padding: 5%;
}

.text {
  width: 50%;
  text-align: left;
  padding-right: 5%;
  height: fit-content;
}
.text p {
  letter-spacing: 2px;
}

/*Right Side*/
.info {
  width: 50%;
}

.image {
  height: 60%;
  background: -webkit-linear-gradient(45deg, #2b76d8, #f277b0);
}
.about h5 {
  font-family: "Monument Grotesk Regular", sans-serif;
}
.about h3 {
  color: #f2f2f2;
}
