/*Left Side*/
.description {
  display: flex;
  height: 45vh;
}

.text {
  width: 55%;
  text-align: left;
  padding: 5%;
}
.text p {
  font-size: 2.5vw;
  letter-spacing: 2px;
}

/*Right Side*/
.info {
  width: 40%;
  padding: 5%;
}

.image {
  height: 60%;
  background: -webkit-linear-gradient(45deg, #2b76d8, #f277b0);
}
.about p {
  font-family: "Monument Grotesk Regular", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 3vw;
}
.about h3 {
  color: #f2f2f2;
}
