/* About Display */
.aboutdisplay {
  align-self: flex-end;
  display: flex;
  width: 45%;
  height: 100%;
  box-shadow: var(--boxShadow);
}

.abouttext {
  width: 40%;
  padding: 2.5% 0% 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--simpleGradient);
}

.abouttext h6 {
  margin: 2.5% 0% 0% 5%;
}

.aboutimg {
  width: 60%;
  background-color: #131313;
}
@media screen and (max-width: 900px) {
  .aboutdisplay {
    width: 60%;
  }
  .abouttext,
  .aboutimg {
    width: 50%;
  }

  .abouttext p {
    padding-left: 5%;
  }
}
@media screen and (max-width: 600px) {
  .aboutdisplay {
    width: 80%;
  }
  .abouttext {
    padding-top: 2.5%;
    width: 45%;
  }
  .aboutimg {
    width: 55%;
  }
  .abouttext p {
    padding-left: 5%;
  }
}
