@import "/app/common.module.scss"; // Import the common SCSS file

.card {
  width: 35%;
  background: $simpleGradient;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1%;
  overflow-x: hidden;
  height: 75%;
}

.description {
  height: 10%;
  width: 100%;
  padding-left: 2.5%;
  background-color: $textPrimary;
  overflow: hidden;
  box-shadow: $buttonShadow;

  p {
    margin-left: 2.5%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: black;
  }

  h4 {
    font-family: "Monument Grotesk Regular", sans-serif;
    color: black;
    margin-left: 0;
    margin-top: 25px;
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 85%;
    height: 55vh;
    margin-bottom: 2.5vh;
  }

  .description p {
    font-size: 2.5vw;
  }

  .description h4 {
    font-size: 5vw;
    margin-top: 0;
    padding-top: 0.5%;
  }
}

@media screen and (max-width: 600px) {
  .description h4 {
    font-size: 6vw;
    margin: 5% 0%;
    padding: 0%;
  }

  .description p {
    font-size: 3.5vw;
  }
}
