.card {
  width: 35%;
  background: var(--simpleGradient);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1%;
  overflow-x: hidden;
  box-shadow: var(--boxShadow);
}
.description {
  height: 10%;
  width: 100%;
  padding-left: 2.5%;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: var(--buttonShadow);
}
.description p {
  margin-left: 2.5%;
  font-size: 1.25vw;
  letter-spacing: 1px;
  color: black;
}

.description h6 {
  font-family: "Monument Grotesk Regular", sans-serif;
  color: black;
}

@media screen and (max-width: 900px) {
  .card {
    width: 85%;
    height: 55vh;
    margin-bottom: 2.5vh;
  }
  .description p {
    font-size: 2.5vw;
  }
  .description h6 {
    font-size: 5vw;
    margin-top: 0;
    padding-top: 0.5%;
  }
}

@media screen and (max-width: 600px) {
  .description h6 {
    font-size: 6vw;
    margin: 5% 0%;
    padding: 0%;
  }
  .description p {
    font-size: 3.5vw;
  }
}
