.classescontainer {
  height: 100vh;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.classestitle h1 {
  color: black;
  margin: 0%;
  font-size: 12vw;
}

.classestitle {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 2.5%;
  margin: 0%;
}

.cardcontainer {
  height: 60%;
  padding: 2.5%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .cardcontainer {
    height: 180vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .classescontainer {
    height: 200vh;
  }
  .classestitle {
    height: 20vh;
    padding: 2.5%;
  }
}
