.workcontainer {
  height: 130vh;
  display: flex;
  padding-bottom: 10%;
}

.workimg {
  height: 80%;
  width: 40%;
  background: url(../../../../public/deereimg.jpeg);
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.worktext {
  height: 8%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.worktext h1 {
  font-size: 3vw;
}

/* Non-image */
.workbox {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Display For Jobs */
.workdisplay {
  width: 65%;
  height: 35%;
  margin-left: -10%;
  padding: 1% 2.5%;
  display: flex;
  flex-direction: column;
  background-color: #131313;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.jobtext p {
  font-size: 1vw;
  font-family: "MDNichrome Thin", sans-serif;

  padding: 0;
}
.jobtext h4 {
  font-size: 1.5vw;
  font-family: "Monument Grotesk Regular", sans-serif;
  letter-spacing: 2px;
}

.jobtext p:nth-child(2) {
  padding-left: 5%;
}

.jobtext p:nth-child(3) {
  padding-left: 10%;
}

/* About Display */
.aboutdisplay {
  align-self: flex-end;
  display: flex;
  margin-top: 10%;
  width: 40vw;
  height: 50vh;
}

@media screen and (max-width: 800px) {
  .workdisplay {
    width: 150%;
    margin-left: -80%;
    padding: 0% 0% 0% 7.5%;
  }
  .workimg {
    width: 60%;
  }
  .aboutdisplay {
    height: 40vh;
    z-index: 1;
  }
  .jobtext p {
    font-family: "MDNichrome Thin", sans-serif;
    padding: 0;
  }
  .jobtext h4 {
    font-size: 3vw;
    font-family: "Monument Grotesk Regular", sans-serif;
  }
}
