@import '/app/common.module.scss';
.paragraph {
  display: flex;
  flex-wrap: wrap;
  @extend .seperated;
  letter-spacing: 1.5px;
  line-height: 0.5;
  font-size: 4.5vw;
  width: 90%;
  text-align: left;
  padding: 0% 5%;

  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;

    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}
