@import "/app/common.module.scss";
.paragraph {
  display: flex;
  flex-wrap: wrap;
  @extend .seperated;
  letter-spacing: 1.5px;
  line-height: 0.5;
  font-size: 3vw;
  width: 50%;
  text-align: left;
  padding-right: 2.5%;

  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;

    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}
