@import "/app/common.module.scss";
.paragraph {
  display: flex;
  flex-wrap: wrap;
  @extend .content;
  font-size: 2.25vh;
  width: 90%;
  text-align: left;
  padding: 0% 5%;

  .word {
    position: relative;
    margin: 0px 5px;
    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}
