@import "/app/common.module.scss";

.toggleContainer {
  display: flex;
  justify-self: flex-start;
  width: 85vw;
  padding-left: 2.5%;
  margin-top: 5vw;
}

.sliderContainer {
  @extend .flexColumnCenter;
  height: auto;
  width: 100vw;
}

.sliderTrack {
  width: 100vw;
  padding: 0%;
}

.splide__slide {
  height: 80%;
  padding-top: 10%;
}

/* Sizing for Iphone */
@media screen and (max-width: 800px) {
  .toggleContainer {
    width: 100vw;
  }
}
