@import '../common.module.scss';

.navbar {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 8vw;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 0;
  z-index: 999;
  overflow: hidden;

  @extend .flexColumn;
}

.navbar p {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 1.25vw;
  margin: 7.5% 2.5%;
  user-select: none;
}

.redTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15vw 5vw 0;
  border-color: transparent $primaryColor transparent transparent;
  user-select: none;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: -45%;
  margin-bottom: 20%;
  @extend .flexColumn;
}

.firstLink,
.secondLink,
.thirdLink,
.lastLink,
.emptyLink {
  width: 12.5vw;
  margin-left: -15%;
  padding-left: 2vw;
  box-sizing: border-box;
  background-color: $primaryColor;
  transform: skew(-10deg) rotate(15deg);
  transition: transform 0.5s ease;
  min-height: 2vw;
}

.firstLink {
  padding-left: 2.5vw;
}
.lastLink {
  padding-left: 2vw;
}

.firstLink:hover,
.secondLink:hover,
.thirdLink:hover,
.lastLink:hover {
  background-color: $primary-hover-color;
  transform: skew(-8deg) translateX(-1vw) rotate(15deg) scale(1.1);
  padding-left: 3vw;
  padding-bottom: 5.5%;
}

.firstLink:hover {
  padding-left: 4vw;
}
.lastLink:hover {
  padding-left: 3vw;
}

.secondLink a,
.thirdLink a,
.firstLink a,
.lastLink a {
  color: $textSecondary;
  text-decoration: none;
}

@media only screen and (max-width: 1050px) {
  .navbar {
    width: 12.5vw;
  }

  .navbar p {
    font-size: 2vw;
  }

  .firstLink,
  .secondLink,
  .thirdLink,
  .lastLink,
  .emptyLink {
    padding-left: 4.5vw;
  }

  .firstLink {
    padding-left: 5vw;
  }

  .lastLink {
    padding-left: 4vw;
  }

  .firstLink:hover,
  .secondLink:hover,
  .thirdLink:hover,
  .lastLink:hover {
    padding-left: 4.5vw;
  }

  .firstLink:hover {
    padding-left: 5vw;
  }

  .lastLink:hover {
    padding-left: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 22.5vw;
  }

  .navbar p {
    font-size: 4vw;
  }

  .redTriangle {
    border-width: 0 25vw 7.5vw 0;
  }

  .linksContainer {
    margin-top: -20%;
  }

  .firstLink,
  .secondLink,
  .thirdLink,
  .lastLink,
  .emptyLink {
    width: 30vw;
    padding-left: 6vw;
  }

  .firstLink {
    padding-left: 7vw;
  }

  .lastLink {
    padding-left: 5vw;
  }

  .firstLink:hover,
  .secondLink:hover,
  .thirdLink:hover,
  .lastLink:hover {
    padding-left: 6vw;
  }

  .firstLink:hover {
    padding-left: 7.5vw;
  }

  .lastLink:hover {
    padding-left: 6vw;
  }
}
