@import "../common.module.scss";

.navbar {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 12.5vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 0;
  z-index: 999;
  overflow: hidden;
  @extend .flex-column;
}

.navbar p {
  font-family: "Neue Montreal", sans-serif;
  font-size: 2vh;
  margin: 7.5% 2.5%;
}

.redTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15vh 4vh 0;
  border-color: transparent $primaryColor transparent transparent;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: -15%;
  margin-bottom: 20%;
  @extend .flex-column;
}

.firstLink,
.secondLink,
.thirdLink,
.lastLink,
.emptyLink {
  width: 25vh;
  margin-left: -25%;
  padding-left: 2.5vw;
  box-sizing: border-box;
  background-color: $primaryColor;
  transform: skew(-10deg) rotate(20deg);
  transition: transform 0.5s ease;
  min-height: 2vh;
}

.firstLink {
  padding-left: 3vw;
}
.lastLink {
  padding-left: 2vw;
}

.firstLink:hover,
.secondLink:hover,
.thirdLink:hover,
.lastLink:hover {
  background-color: #f26e50;
  transform: skew(-8deg) translateX(-1vh) rotate(20deg) scale(1.1);
  padding-left: 3vw;
  padding-bottom: 5.5%;
}

.firstLink:hover {
  padding-left: 4vw;
}
.lastLink:hover {
  padding-left: 2.5vw;
}

.secondLink a,
.thirdLink a,
.firstLink a,
.lastLink a {
  color: $textSecondary;
  text-decoration: none;
}

@media only screen and (max-width: 1050px) {
  .navbar {
    width: 12.5vh;
  }

  .navbar p {
    font-size: 2vh;
  }

  .firstLink,
  .secondLink,
  .thirdLink,
  .lastLink,
  .emptyLink {
    padding-left: 4.5vh;
  }

  .firstLink {
    padding-left: 5vh;
  }

  .lastLink {
    padding-left: 4vh;
  }

  .firstLink:hover,
  .secondLink:hover,
  .thirdLink:hover,
  .lastLink:hover {
    padding-left: 4.5vh;
  }

  .firstLink:hover {
    padding-left: 5vh;
  }

  .lastLink:hover {
    padding-left: 4vh;
  }
}
