.navbar {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 12vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 0;
  overflow-x: hidden;
  z-index: 2;
}

.navbar p {
  font-family: "Neue Montreal", sans-serif;
  font-size: 2vh;
  margin: 7.5% 2.5%;
}

.redTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12vh 5vh 0;
  border-color: transparent #ff3333 transparent transparent;
}

/*Links*/

.linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: -15%;
  margin-bottom: 20%;
}

.link,
.firstLink,
.lastLink,
.emptyLink {
  width: 25vh;
  margin-left: -25%;
  padding-left: 35%;
  box-sizing: border-box;
  background-color: #ff3333;
  transform: skew(-10deg) rotate(20deg);
  transition: transform 0.5s ease;
  min-height: 2vh;
}

.firstLink {
  padding-left: 40%;
}

.link:hover,
.firstLink:hover {
  background-color: #f26e50;
  transform: skew(-8deg) translateX(-1vw) rotate(20deg) scale(1.1);
  padding-left: 45%;
  padding-bottom: 5.5%;
}

.firstLink:hover {
  padding-left: 50%;
}

.link a,
.firstLink a,
.lastLink a {
  color: var(--primary-color);
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .navbar p {
    font-size: 1.75vh;
  }
}

@media only screen and (min-width: 2561px) {
  .link,
  .first-link {
    width: 190%;
    padding-left: 50%;
    margin-left: -50px;
    transform: skew(-10deg) rotate(25deg);
    transition: transform 0.5s ease;
  }
  .first-link {
    padding-left: 60%;
  }

  .red-rectangle {
    height: 4vh;
  }
}
