.navbar {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 12.5vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 0;
  overflow: hidden;
  z-index: 2;
}
.navbar p {
  font-family: "Neue Montreal", sans-serif;
  font-size: 2vh;
}

.red-rectangle {
  width: 100%;
  height: 5vh;
  background-color: #ff3333;
}

.red-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 25px 0;
  border-color: transparent #ff3333 transparent transparent;
}

.link,
.first-link {
  width: 25vh;
  box-sizing: border-box;
  background-color: #ff3333;
  transform-origin: top right;
  padding-left: 65%;
  margin-left: -55%;
  transform: skew(-10deg) rotate(25deg);
  transition: transform 0.5s ease;
}

.first-link {
  padding-left: 75%;
}

.empty-rhombus {
  width: 25vh;
  box-sizing: border-box;
  background-color: #ff3333;
  padding: 20px;
  transition: background-color 0.3s ease;
  transform-origin: top right;
  margin-left: -35%;
  transform: skew(-10deg) rotate(25deg);
}

.link:hover,
.first-link:hover {
  background-color: #f26e50;
  padding-left: 45%;
  transform: skew(-10deg) rotate(25deg) translate(10px, -10px);
}
.first-link:hover {
  padding-left: 55%;
}

.link a,
.first-link a {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover .empty-rhombus,
.first-link:hover .empty-rhombus {
  transform: skew(-10deg) rotate(25deg);
}

@media only screen and (max-width: 800px) {
  .navbar p {
    font-size: 1.75vh;
  }
}
@media only screen and (min-width: 2561px) {
  .link,
  .first-link {
    width: 190%;
    padding-left: 50%;
    margin-left: -50px;
    transform: skew(-10deg) rotate(25deg);
    transition: transform 0.5s ease;
  }
  .first-link {
    padding-left: 60%;
  }

  .red-rectangle {
    height: 4vh;
  }
  .empty-rhombus {
    margin-left: -50px;
  }
}
