@import "../common.module.scss";

/* Common Styles */
.spacerBase {
  height: 100%;
  background-color: $textSecondary;
  display: flex;
  box-shadow: $boxShadow;
}

.flexColumn {
  flex-direction: column;
  @extend .flexColumnCenter;
}

.flexRow {
  flex-direction: row;
  align-items: center;
  @extend .flex-horizontal;
}

/* Spacer Containers */
.spacerContainer {
  @extend .spacerBase;
  @extend .flexColumn;
  padding: 2.5%;
}

.spacerContainer h3 {
  color: #000;
  margin: 0 5%;
}

.spacerContainerSimple {
  @extend .spacerBase;
  @extend .flex-horizontal;
  overflow: hidden;
  padding-left: 2.5%;
  box-shadow: $arrowShadow;
}

/* Button Section */
.spacerContainerButton {
  @extend .spacerBase;
  @extend .flexRow;
}

.spacerContainerButton h1 {
  width: 80%;
  @extend .title;
  user-select: none;
}

.toggleButtonContainer {
  width: 20%;
  height: 100%;
  @extend .flexCenter;
}

.textContainer {
  width: 80%;
  height: 100%;
  padding: 2.5% 0 2.5% 1%;
  @extend .flex-horizontal;
}

/* Toggle Button */
.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: transform 0.5s;
  position: relative;
  @extend .flexCenter;
}
