.spacerContainer {
  height: 100%;
  background-color: var(--textSecondary);
  display: flex;
  padding: 2.5%;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.spacerContainer h3 {
  color: #000;
  margin: 0 5%;
}

.spacerContainerSimple {
  height: 100%;
  background-color: var(--textSecondary);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 2.5%;
  box-shadow: var(--arrowShadow);
}

/*Button Section*/
.spacerContainerButton {
  height: 100%;

  background-color: var(--textSecondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--arrowShadow);
}
.spacerContainerButton h1 {
  padding-left: 2.5%;
  font-size: 5vw;
  letter-spacing: 1.5vw;
  width: 80%;
}

.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 100%;
  padding: 0;
  transition: transform 0.5s;
  position: relative;
}

.toggleButton::before,
.toggleButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 2.5vw solid transparent;
  transition: transform 0.5s;
  top: 40%;
  transform: translate(-50%, -50%);
}

.toggleButton.upArrow::before {
  border-bottom-color: #000;
  top: 70%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.toggleButton.downArrow::before {
  border-bottom-color: #000;
  top: 40%;
  transform: translate(-50%, -50%) rotate(0deg);
}
