@import "../common.module.scss";

/* Common Styles */
.spacerBase {
  height: 100%;
  display: flex;
  @include boxBg(0, $boxBgInverse);
}

.flexColumn {
  @include flexColumn(center, center);
}

.flexRow {
  flex-direction: row;
  align-items: center;
  @extend .flex-horizontal;
}

/* Spacer Containers */
.spacerContainer {
  @extend .spacerBase;
  @include flexColumn(none, center);
  padding: 2.5%;
}

.spacerContainer h3 {
  color: #000;
  margin: 0 5%;
}

.spacerContainerSimple {
  @extend .spacerBase;
  @extend .flex-horizontal;
  h2 {
    padding-left: 2.5%;
    color: $Black1;
  }
  box-shadow: $arrowShadow;
}

/* Button Section */
.spacerContainerButton {
  @extend .spacerBase;
  @extend .flexRow;
}

.spacerContainerButton h1 {
  width: 80%;
  @extend .title;
  user-select: none;
}

.toggleButtonContainer {
  width: 20%;
  height: 100%;
  @include flexCenter();
}

.textContainer {
  width: 80%;
  height: 100%;
  padding: 2.5% 0 2.5% 1%;
  @extend .flex-horizontal;
}

/* Toggle Button */
.toggleButton {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  @include flexCenter();
}
