@import "../common.module.scss";

.spacerContainer {
  height: 100%;
  background-color: $textSecondary;
  display: flex;
  padding: 2.5%;
  flex-direction: column;
  box-shadow: $boxShadow;
  @extend .flexColumnCenter;
}

.spacerContainer h3 {
  color: #000;
  margin: 0 5%;
}

.spacerContainerSimple {
  height: 100%;
  background-color: $textSecondary;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-left: 2.5%;
  box-shadow: $arrowShadow;
  @extend .flex-horizontal;
}

/* Button Section */
.spacerContainerButton {
  height: 100%;
  background-color: $textSecondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  @extend .flex-horizontal;
}
.spacerContainerButton h1 {
  width: 80%;
  @extend .title;
}

.toggleButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  @extend .flexCenter;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  @extend .flex-horizontal;
  padding: 2.5%;
  padding-left: 1%;
}

.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: transform 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .flexCenter;
}
