.resumeContainer {
  height: auto;
  width: 100vw;
  overflow: hidden;
}

.headerContainer {
  width: 90vw;
  margin: 2.5%;
}

.work {
  height: 150vh;
  padding-top: 5%;
}

.classes {
  height: 100vh;
}

@media only screen and (max-width: 900px) {
  .classes {
    height: 200vh;
  }
  .heading {
    width: 90%;
  }
  .subHeading {
    width: 100%;
  }
}
