@import '/app/common.module.scss';

/* Container Styles */
.resumeContainer {
  height: auto;
  width: 100vw;
  overflow: hidden;
}

.headerContainer {
  width: 80vw;
  margin: 2% 0;

  .heading {
    color: $textPrimary;
  }

  .subHeading {
    color: $textSecondary;
  }
  .simpleGradient {
    background: linear-gradient(90deg, $primaryColor, $secondaryColor);
    display: inline-block; // Ensure it scales properly
    transition: color 0.3s ease-out; // Optional, for color transition
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 1.5%;
  }
}

.work {
  height: 150vh;
  padding-top: 5%;
}

.classes {
  height: 120vh;
}

/* Media Queries */
@media only screen and (max-width: 1050px) {
  .classes {
    height: 200vh;
  }

  .heading {
    width: 90%;
  }

  .subHeading {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .classes {
    height: 200vh;
  }

  .heading {
    width: 80%;
  }

  .subHeading {
    width: 70%;
  }
}
