@import "/app/common.module.scss";

/* Container Styles */
.resumeContainer {
  height: auto;
  width: 100vw;
  overflow: hidden;
}

.headerContainer {
  width: 90vw;
  margin: 1.5%;

  .heading {
    h2 {
      color: $white2;
    }
  }

  .subHeading {
    color: $white2;
    margin-left: 2.5%;
  }
  .simpleGradient {
    background: linear-gradient(90deg, $primaryColor, $secondaryColor);
    display: inline-block;
    transition: color 0.3s ease-out;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 1.5%;
  }
}
.skillSlider {
  margin: 0% 0.5%;
}

.work {
  height: 175vh;
  padding-top: 5%;
}

.classes {
  height: 120vh;
}

/* Media Queries */
@media only screen and (max-width: 1050px) {
  .classes {
    height: 200vh;
  }

  .heading {
    width: 90%;
  }

  .subHeading {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .classes {
    height: 200vh;
  }
  .work {
    height: auto;
  }
  .headerContainer {
    width: 95vw;
    padding: 1%;

    .heading {
      width: 80%;

      h2 {
        font-size: 6.25vw;
        letter-spacing: 2px;
      }
    }

    .subHeading {
      width: 97.5%;
      padding-top: 2.5%;
    }
  }
}
